<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPEnfK3iL5rhVycNYT1xXp2Ku0ygYgFZM</string>
	<key>GCM_SENDER_ID</key>
	<string>187796842547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.papon.AppQuiz1</string>
	<key>PROJECT_ID</key>
	<string>quizapp-e8e81</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-e8e81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187796842547:ios:1f06f5def7cd0ed5ab9b46</string>
</dict>
</plist>